* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header {
  color: brown;
  border: 1px solid black;
  position: fixed;
  width: 100vw;
  background-color: azure;
}

.header h1 {
  color: black;
}

.header-list {
  display: flex;
}

.header-item {
  margin: 0 5px;
  cursor: pointer;
  padding: 1px;
  list-style-type: none; /* remove bullets */

}

.header-item::before {
content: "\200B"; /* add zero-width space */
}

.header-item:hover {
  color: brown;
  border-radius: 4px;
  padding: 1px;
  text-decoration: underline overline black;
}

.nav {
  padding-top: 70px;
  color: brown;
  border: 1px solid black;
}

.hiddenBlock {
  display: none;
}

.button-container {
  width: 95vw ;
  background-color: azure;
}
.pagination {
  float: right;
}

.button {
  margin-right: 10px;
  width: 90px;
  height: 30px;
  float: left;
  bottom: 0;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 3px 4px 0px black;
}

.button:nth-child(2) {
  width: 90px;
  height: 30px;
  float: right;
  bottom: 0;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 3px 4px 0px black;
}
.button:nth-child(3) {
  width: 90px;
  height: 30px;
  float: right;
  bottom: 0;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 3px 4px 0px black;
}

.button:hover {
  padding-top: 4px;
  box-shadow: 1px 1px 0px black;
}