* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header {
  color: brown;
  border: 1px solid black;
}

.nav {
  color: brown;
  border: 1px solid black;
}

.blackHole {
  display: none;
}